# Development Environment Configuration
ENVIRONMENT=development

# API Keys
GEMINI_API_KEY1=""
GEMINI_API_KEY2=""
GEMINI_API_KEY3=""

GROQ_API_KEY1=""
GROQ_API_KEY2=""
GROQ_API_KEY3=""


# Database Configuration (for local development outside Docker)
POSTGRES_DB=teachermate
POSTGRES_USER=postgres
POSTGRES_PASSWORD=change-me
POSTGRES_HOST=localhost
POSTGRES_PORT=5434
DB_URL_POSTGRES=postgresql+psycopg2://postgres:change-me@localhost:5434/teachermate

# Server Configuration
PORT=8000

# Security
JWT_SECRET_KEY=your-super-secret-jwt-key-change-this-in-production

# AWS S3 Configuration
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=ap-south-1
S3_BUCKET_NAME=teachermate
