GOOGLE_GEMINI_API_KEY=
DB_URL_POSTGRES=postgresql+psycopg2://postgres:change-me@db:5432/teachermate
GROQ_API_KEY=
POSTGRES_PASSWORD=change-me
POSTGRES_DB=teachermate
JWT_SECRET_KEY=your-super-secret-jwt-key-change-this-in-production
AWS_ENDPOINT_URL=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
S3_BUCKET_NAME=teacher-pfp-bucket
USE_LOCALSTACK=false
PUBLIC_ENDPOINT_URL=
